:root {
    /* Primary colors */
    --soft-blue: hsl(215, 51%, 70%); 
    --cyan: hsl(178, 100%, 50%);

    /* Neutral colors */
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    /* Font */
    --font: 'Outfit', sans-serif;
}

/*I took this from Paul Irish Page https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Globals */

body{
    font-family: var(--font);
    color: var(--soft-blue);
    background-color: var(--main-bg);
    font-size: 1.8rem;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 1.5rem;
}

p { 
    font-weight: 300;
}

h1 {
    font-size: 2.35rem;
}

/* Utility classes */

.flex-group {
    display: flex;
    justify-content: space-between;
}

/* Component styles */

.test {
    position: relative;
}

.test::after {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/icon-view.svg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.test:hover{
    mix-blend-mode: screen;
    cursor: pointer;
}

.test:hover::after {
    display: block;
}

.card {
    width: 90%;
    max-width: 33rem;
    padding: 2rem;
    background-color: var(--card-bg);
    border-radius: 1.5rem;
    perspective: 1px;
    overflow: hidden;
    box-shadow: 2px 1px 14px 0px black;
}
 
.card__content-description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card__title {
    cursor: pointer;
    margin-top: 1.7rem;
    color: var(--white);
}

.card__title:hover {
    color: var(--cyan);
}

.card__paragraph {
    line-height: 1.5;
}

.card__icons_icon-1{
    font-weight: bold;
}

.card__line {
    border: 1px solid var(--line);
}

.card__creator {
    justify-content: left;
    gap: 1.7rem;
    font-size: 1.55rem;
}

.card__jules {
    align-self: center;
}

.card__jules-span {
    color: var(--white);
}

.card__jules-span:hover {
    cursor: pointer;
    color: var(--cyan);
}

.card__img-container {
    width: 15%;
}

.card__avatar {
    border-radius: 50%;
    border: 1px solid var(--white);
}

.card__icons_icon-2, .card__icons_icon-1 {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--cyan);
}